<div class="container">
  <h3>Posts for <%= current_user.username %> </h3><br>

  <% current_user.posts.each do |post| %>
    <%= link_to post.title, user_post_path(current_user.slug, post.slug) %><br>
  <% end %>

  <br>
  <%= link_to("Create New Post", new_user_post_path(current_user), class: "waves-effect waves-light btn center") %>
</div>
